.verticalLeft {
    border-left: 2px dashed gray;
    height: 1100%;
    position:absolute;
    left: 2%;
    opacity: 0.2;
}

.verticalRight {
    border-right: 2px dashed gray;
    height: 1100%;
    position:absolute;
    right: 2%;
    opacity: 0.2;
}