.main-head {
  margin-left: 9%;
  font-size: xx-large;
  margin-top: 3rem;
  background: linear-gradient(to right, #48fc63 0%, #0ff34f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-para {
  color: white;
  max-width: 50%;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 3rem;
  font-size: large;
}

.main-list {
  margin-left: 10%;
  margin-top: 3rem;
  width: 50%;
  flex-wrap: wrap;
}

.list-points li{
    color: white;
    list-style: circle;
    margin-top: 2rem;
    font-size: large;
}